* {
    margin: 0;
    padding: 0;
}

.gatoarriba-flex {
        width: 1000px;
        height: 275px;
        background-color: cornflowerblue;
        display: flex;
        padding: 5px 5px 5px 5px;
}

.gatomedio-flex {
    width: 1000px;
    height: 275px;
    background-color: purple;
    display: flex;
    padding: 5px 5px 5px 5px;
}

.gatoabajo-flex {
    width: 1000px;
    height: 275px;
    background-color: lightseagreen;
    display: flex;
    padding: 5px 5px 5px 5px;
}

img {
    width: 225px;
    height: 225px;
    margin: 10px 10px 10px 10px;
}


.gatoarriba-flex,.gatomedio-flex,.gatoabajo-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
}